<template name="blockingBubble">
  {{#if isPlay}}
  <div
    class="col-span-3 col-end-[-1] mb-5 flex w-1/4 basis-[content] items-center justify-center rounded-3xl bg-white p-5 text-[1.3rem] leading-[1.5rem] opacity-0 transition-all duration-500"
  >
    <button
      class="play focus:shadow-outline select-none rounded bg-purple-500 px-4 py-2 font-bold text-white shadow hover:bg-purple-400 focus:outline-none"
      id="{{name}}"
    >
      {{label}}
    </button>
  </div>
  {{/if}} {{#if isCard}}
  <div
    class="relative col-span-3 col-end-[-1] mb-1 flex w-1/4 basis-[content] flex-col items-center justify-center rounded-lg bg-purple-200 p-5 text-[1.3rem] leading-[1.5rem] opacity-0 transition-all duration-500"
  >
    <div class="relative flex-1 px-4 py-2 text-center rotate-x-180">
      {{label}}
    </div>
    <button
      class="card focus:shadow-outline absolute h-full w-full rounded-lg bg-purple-100 px-4 py-2 text-black shadow transition-opacity delay-[150ms] hover:bg-purple-400 focus:outline-none"
      id="{{name}}" {{getQcmOptions}}
    ></button>
  </div>
  {{/if}} {{#if isForm}}
  <div
    class="relative col-span-3 col-end-[-1] mb-5 flex w-1/4 basis-[content] flex-col items-center justify-center rounded-lg bg-white p-5 text-[1.3rem] leading-[1.5rem] opacity-0 transition-all duration-500 rotate-x-180"
  >
    <!-- dos -->
    <div
      class="absolute flex-1 px-4 py-2 text-center opacity-0 transition-opacity delay-[150ms]"
    >
      <!-- {{getAnswer this}} -->
    </div>

    <!-- face -->
    <div class="transition-opacity delay-[150ms] rotate-x-180">
      <form class="answer w-full max-w-sm">
        <div class="mb-6 md:flex md:items-center">
          <textarea
            class="w-full appearance-none rounded border-2 border-gray-200 bg-gray-200 px-4 py-2 leading-tight text-gray-700 focus:border-purple-500 focus:bg-white focus:outline-none"
            id="inline-mail"
            type="text"
            placeholder="hmm laissez-moi réfléchir un moment"
          ></textarea>
        </div>
        <div class="md:flex md:items-center">
          <div class="md:w-1/3"></div>
          <div class="items-center md:w-2/3">
            <button
              class="focus:shadow-outline rounded bg-purple-500 px-4 py-2 font-bold text-white shadow hover:bg-purple-400 focus:outline-none"
              type="submit"
            >
              voilà
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {{/if}}
  {{#if isQcmForm}}
    <div
    class="relative col-span-3 col-end-[-1] mb-5 flex w-1/4 basis-[content] flex-col rounded-lg bg-white p-5 text-[1.3rem] leading-[1.5rem] opacity-0 transition-all duration-500"
    >
    {{#each qcmOptions}}
    <button
    class="qcmOption focus:shadow-outline flex rounded bg-purple-500 mb-1 px-4 py-2 font-bold text-left text-white shadow hover:bg-purple-400 focus:outline-none" id="{{name}}"
    >
      {{this}}
    </button>
    {{/each}}
   </div>
  {{/if}}
</template>
