<template name="card">
  {{#each cards}}
  <div
    class="card relative -mb-[29.6rem] grid aspect-[2/3] w-[20rem] -translate-y-20 grid-cols-1 grid-rows-1 opacity-0 transition-[opacity,transform] duration-500 [transform-style:preserve-3d]"
    tabindex="0"
  >
    <!-- cards have two faces : -->
    <!-- this is the dos -->
    <div
      class="touch:active:bg-red-600 col-[1/1] row-[1/1] flex cursor-pointer items-center justify-center rounded-2xl border-2 border-black bg-red-50 text-3xl [backface-visibility:hidden] active:bg-red-200"
    >
      <p>dos</p>
    </div>

    <!-- this is the content part, which can either display the question, centered, OR form type 1, or form type 2, or action cards.-->
    <div
      class="col-[1/1] row-[1/1] flex cursor-pointer items-center justify-center rounded-2xl border-2 border-black bg-white [backface-visibility:hidden] [transform:rotateY(180deg)]"
    >
      <p class="p-24 text-center text-6xl">{{zob}}</p>
    </div>
  </div>
  {{/each}}
</template>
