@font-face {
  font-family: "Patrick";
  src: url("/fonts/PatrickHand-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gochi";
  src: url("/fonts/GochiHand-Regular.woff2") format("woff2");
}

@keyframes clignote {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes defile {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50vw);
  }
}

:root {
  --rotation: 90deg;

  /* teinte principale en HSL, et on change la saturation et la luminosité pour faires les ombres */
  /* → 0 = rouge, 120 = vert, 240 = bleu et 360 encore rouge logiquement */
  --murs: 20;
  --profondeur-piece: 30vw;

  --couleur-nuit: hsl(222, 30%, 15%);
  --glow: #adebc6;

  /* animation */
  --duration: 5s;
  --phosphopacity: .8;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: var(--couleur-nuit);
  overflow-y: auto;
  overflow-x: hidden;
}

#berceuse section {
  position: fixed;
  top: 2em;
  left: 2em;
  display: flex;
  flex-flow: column nowrap;
  z-index: 50;
}

main {
  background: hsl(var(--murs), 70%, 55%);
  perspective: 100vw;
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*____________________________________________ ETOILES __*/
span {
  color: white;
  text-shadow: none;
  position: absolute !important;
  font-size: 4rem;
  opacity: var(--phosphopacity);
}

.nuit span {
  color: var(--glow);
  text-shadow: 0 0 0.1em var(--glow), 0 0 0.2em var(--glow), 0 0 .3em var(--glow);
}

.nuit span {
  text-shadow: 0 0 0.1em var(--glow), 0 0 0.15em var(--glow);
}

.nuage {
  display: none;
}

.nuit .etoile{
  animation: 4s ease-in-out infinite reverse both clignote;
}

.nuit .nuage {
  display: block;
  animation: 4s linear infinite both defile;
  animation-delay: 2s;
}

.etoile:nth-of-type(2n) {
  font-size: 2rem;
  transform: rotate(30deg);
  animation-delay: 3s;
  animation-duration: 8s;
}

.etoile:nth-of-type(3n) {
  font-size: 3rem;
  transform: rotate(80deg);
  animation-delay: 5s;
}

.etoile:nth-of-type(5n) {
  font-size: 5rem;
  transform: rotate(180deg);
  animation-delay: 1s;
}

/*__________________ ceiling __*/
#ceiling .etoile:nth-of-type(1) {
  bottom: 2rem;
  left: 1rem;
}

#ceiling .etoile:nth-of-type(2) {
  bottom: 11rem;
  left: 4rem;
}

#ceiling .etoile:nth-of-type(3) {
  bottom: 7rem;
  left: 8rem;
}

#ceiling .etoile:nth-of-type(4) {
  bottom: 5rem;
  left: 11rem;
}

/*__________________ left __*/
#left .etoile:nth-of-type(1) {
  top: -.5rem;
  right: 5rem;
}

#left .etoile:nth-of-type(2) {
  top: 3rem;
  right: 1rem;
}

#left .etoile:nth-of-type(3) {
  top: 0rem;
  right: 16rem;
}

#left .etoile:nth-of-type(4) {
  top: 2rem;
  right: 11rem;
}

#left .etoile:nth-of-type(5) {
  top: 4rem;
  right: 10rem;
}

/*__________________ center __*/
/*__ etoile __*/
#center .etoile:nth-of-type(1) {
  top: -1rem;
  left: 1rem;
}

#center .etoile:nth-of-type(2) {
  top: 4rem;
  left: 4rem;
}

#center .etoile:nth-of-type(3) {
  top: 1rem;
  left: 8rem;
}

#center .etoile:nth-of-type(4) {
  top: 0rem;
  left: 12rem;
}

#center .etoile:nth-of-type(5) {
  top: 0rem;
  left: 16rem;
}

#center .etoile:nth-of-type(6) {
  top: 4rem;
  left: 11rem;
}

/*__ nuage __*/
#center .nuage:nth-of-type(7) {
  right: 14rem;
  bottom: 1rem;
  font-size: 6rem;
  animation-delay: 3s;
}

#center .nuage:nth-of-type(8) {
  right: 5rem;
  bottom: 2rem;
  font-size: 8rem;
  animation-delay: 4s;
  animation-duration: 6s;
}

#center .nuage:nth-of-type(9) {
  right: 0rem;
  bottom: 0rem;
  font-size: 10rem;
  -webkit-text-stroke: hsl(var(--murs), 70%, 60%) .2rem;
}

.nuit #center .nuage:nth-of-type(9) {
  -webkit-text-stroke: var(--glow) .1rem;
}

/*__________________ right __*/
#right .etoile:nth-of-type(1) {
  top: 1rem;
  left: 1rem;
}

#right .etoile:nth-of-type(2) {
  top: 8rem;
  left: 2rem;
}

#right .etoile:nth-of-type(3) {
  top: 2rem;
  left: 2rem;
}

#right .etoile:nth-of-type(4) {
  top: 3rem;
  left: 7rem;
}

/*____________________________________________ LES MURS __*/
#berceuse .murs {
  font-family: "Patrick", sans-serif;
  position: absolute;
  overflow: hidden;
}

#berceuse #ceiling,
#berceuse #floor {
  height: var(--profondeur-piece);
  width: 100%;
}

#berceuse #left,
#berceuse #right {
  height: 100%;
  width: var(--profondeur-piece);
  border-left: none;
  border-right: none;

  text-shadow: 0 0 0.2em var(--glow), 0 0 0.3em var(--glow),
    0 0 0.5em var(--glow), 0 0 1em var(--glow), 0 0 2em var(--glow);
}

#berceuse #ceiling {
  background-image: radial-gradient(
    hsl(var(--murs), 60%, 60%),
    hsl(var(--murs), 40%, 40%)
  );
  transform-origin: top;
  transform: rotateX(calc(var(--rotation) * -1));
  top: 0;
}

#berceuse #floor {
  background-image: radial-gradient(hsl(31, 80%, 65%), hsl(31, 50%, 20%));
  transform-origin: bottom;
  transform: rotateX(var(--rotation));
  bottom: 0;
}

#berceuse #center {
  background-image: linear-gradient(
    hsl(var(--murs), 70%, 60%),
    hsl(var(--murs), 70%, 60%)
  );
  width: 100vw;
  height: 100vh;
  transform: translateZ(calc(var(--profondeur-piece) * -1));
  text-shadow: 0 0 0.2em var(--glow), 0 0 0.3em var(--glow), 0 0 1em var(--glow);
}

#berceuse #left {
  background-image: linear-gradient(
    hsl(var(--murs), 70%, 55%),
    hsl(var(--murs), 70%, 55%)
  );
  left: 0;
  transform-origin: left;
  transform: rotateY(var(--rotation));
}

#berceuse #right {
  background: linear-gradient(
    hsl(var(--murs), 70%, 55%),
    hsl(var(--murs), 70%, 55%)
  );
  right: 0;
  transform-origin: right;
  transform: rotateY(calc(var(--rotation) * -1));
}

/* TEXTES ------------------------------------------------------------ */

#berceuse .text-wrapper {
  height: 100%;
  position: relative;

  left: 100%;
  /* left: 0; */

  width: max-content;
  will-change: transform;

  /* border: solid green 2px; */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  padding: 3rem 0;
  line-height: .3;
}

#berceuse p {
  color: var(--glow);
  font-size: calc(100vh / 8);
  white-space: nowrap;
  text-align: left;
  opacity: 1;
  will-change: transform;
  width: fit-content;

  opacity: 0;
  /* border: solid lime 3px; */
}

.short:nth-of-type(2n) {
  padding-left: 40%;
}

.para1 {
  grid-row:  3 / 3;
}

.para2 {
  grid-row:  2 / 2;
}

.para3 {
  grid-row:  3 / 3;
}

.para4 {
  grid-row:  5 / 5;
}

.para5 {
  grid-row:  8 / 8;
}

.para6 {
  grid-row:  6 / 6;
}

.para7 {
  grid-row:  7 / 7;
}

/* -------------------- NUIT -------------------- */
#berceuse.nuit {
  background: var(--couleur-nuit);
}

#berceuse.nuit #ceiling {
  background-image: radial-gradient(
      hsl(var(--murs), 60%, 60%) 20%,
      hsl(var(--murs), 60%, 40%)
    ),
    linear-gradient(var(--couleur-nuit), var(--couleur-nuit));
  background-blend-mode: multiply;
}

#berceuse.nuit #floor {
  background-image: radial-gradient(hsl(31, 80%, 65%) 1%, hsl(31, 50%, 20%)),
    linear-gradient(var(--couleur-nuit), var(--couleur-nuit));
  background-blend-mode: overlay;
}

#berceuse.nuit #left,
#berceuse.nuit #right {
  background-image: linear-gradient(
      hsl(var(--murs), 70%, 55%),
      hsl(var(--murs), 70%, 55%)
    ),
    linear-gradient(var(--couleur-nuit), var(--couleur-nuit));
  background-blend-mode: multiply;
}

#berceuse.nuit #center {
  background-image: linear-gradient(
      hsl(var(--murs), 70%, 60%),
      hsl(var(--murs), 70%, 60%)
    ),
    linear-gradient(var(--couleur-nuit), var(--couleur-nuit));
  background-blend-mode: multiply;
}

#berceuse #porte,
#berceuse #ouverture {
  height: 55%;
  width: 35%;
  position: absolute;
  bottom: 0;
  left: 65%;
}

#berceuse #ouverture {
  background: #0a0a0a;
  border: inset #444 10px;
  border-right-width: 5px;
  border-bottom: none;
}

#berceuse #porte {
  backface-visibility: hidden;
  transform-origin: left;
  background: #222222;
  transform: rotateY(-80deg);
  transition: transform 2s, background 2s;
}

#berceuse #porte.fermed {
  background: gray;
  transform: rotateY(0) !important;
}

#berceuse.nuit #porte{
  background: #222;
  background-image: linear-gradient(var(--couleur-nuit), var(--couleur-nuit));
  background-blend-mode: multiply;
}

#berceuse.nuit #porte.fermed {
  background: var(--couleur-nuit);
  background-image: linear-gradient(gray, gray);
  background-blend-mode: multiply;
}

#berceuse #poignee {
  border-radius: 50%;
  height: 1em;
  width: 1em;
  background: radial-gradient(hsl(12, 30%, 35%), hsl(12, 30%, 15%));
  position: absolute;
  top: 45%;
  right: 0.5em;
}

#berceuse.nuit #poignee {
  background: none;
  background-image: radial-gradient(hsl(12, 30%, 35%), hsl(12, 30%, 15%)),
    linear-gradient(var(--couleur-nuit), var(--couleur-nuit));
  background-blend-mode: multiply;
}

/* BOUTONS ------------------------------------------------------------ */

#berceuse section button {
  display: none;
  font-size: 1em;
  padding: 0.2em 0.5em;
}

#ceparti,
.retour-maison {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.2em 0.5em;
  font-size: 2em;
  transition: opacity 1s;
  opacity: 1;
  cursor: pointer;
}

.retour-maison {
  opacity: 0;
  display: none;
}

@media screen and (max-width: 648px) {
/* performance sur mobile (genre firefox) */
  #berceuse #left,
  #berceuse #center,
  #berceuse #right {
    text-shadow: none;
  }

}
