<template name="feed">
    <div class="grid grid-cols-5 m-10" id="feed">

        <!-- the feed needs to know what kind of component to add to the feed based on what the data is. this feels kind of hacky, might want to make a proper helper, but also maybe not. -->

        {{#each feedItems}}
            {{#if autoText}}
                {{> bubble this}}
            {{/if}}

            {{#if sticker}}
                {{> sticker this}}
            {{/if}} 
        {{/each}}
    </div>
    
<!-- HARDCODED SHIT TO TRY THINGS OUT     -->

    <!-- <div class="h-100 w-100 overflow-hidden flex justify-center items-center h-screen">
        {{> card}}
    </div> -->

    <button onclick="addData('autoText')">ADD BUBBLE</button>
    <button onclick="addData('sticker')">ADD STICKER</button>

</template>