<template name="feed">
  <div
    class="flex h-full flex-col flex-wrap content-start items-start gap-x-3 transition-all duration-500 after:h-full after:w-1/3"
    id="feed"
  >
    {{#each feedItems}} {{> blockingBubble this}} {{> staticBubble this}}
    {{/each}}
  </div>

  <div
    class="footer fixed left-0 mt-[3vh] h-[40vh] flex transform-y-[25vh] w-1/3 cursor-pointer flex-col bg-yellow-clubT transition-all overflow-scroll"
    id="footer"
  >
    <div class="ml-3 text-start text-[1.1rem] italic hover:bg-purple-100">
      <div class="mb-3">Club Travail, 2023.</div>
      <div class="p-2 mb-32">
        Le Club Travail est un petit gang crypto-syndicaliste bruxellois défiant la souffrance au travail. A la manière des cercles de rencontres anonymes, le gang déploie des dispositifs de rencontres drôles et sérieux à la fois, où il va s’agir d’imaginer ensemble comment nos vulnérabilités et nos existences fragiles peuvent se frayer un chemin dans un monde du travail et de l’art aliéné par le capitalisme patriarcal et les inégalités sociales.

        Le slogan du Club ? « Le travail, notre métier ! ».
        
        Créé en 2017 par Mathilde Maillard, Anna Czapski et Yvonne Harder et conçu comme une cellule d’entraides entre travailleuses de l’art, Mathilde Maillard poursuit depuis les expériences du Club Travail in good company.
      </div>
      <!-- <img src="/img/logo_xs.png" class="h-[30px] w-[50px] mb-32 mx-auto"> -->
    </div>
  </div>
  <!-- {{#if isDebugMode}}
  debug state : {{feedState}}
  {{/if}} -->
</template>
